[submodule "ldrToProto"]
	path = ldrToProto
	url = git@github.com:LM-Prototyping/ldrToProto.git
[submodule "LeoCAD/models"]
	path = LeoCAD/models
	url = git@github.com:LM-Prototyping/leocad-examples.git
[submodule "webotsWorkspace"]
	path = webotsWorkspace
	url = git@github.com:LM-Prototyping/webotsWorkspace.git
[submodule "ros2Workspace/src/brickpi3_ros2"]
	path = ros2Workspace/src/brickpi3_ros2
	url = git@github.com:LM-Prototyping/brickpi3_ros2.git
