[submodule "ldrToProto"]
	path = ldrToProto
	url = git@github.com:LM-Prototyping/ldrToProto.git
[submodule "webotsWorkspace"]
	path = webotsWorkspace
	url = git@github.com:LM-Prototyping/webotsWorkspace.git
[submodule "ros2Workspace/src/brickpi3_ros2"]
	path = ros2Workspace/src/brickpi3_ros2
	url = git@github.com:LM-Prototyping/brickpi3_ros2.git
[submodule "ros2Workspace/src/webots_ros2"]
	path = ros2Workspace/src/webots_ros2
	url = git@github.com:LM-Prototyping/webots_ros2.git
[submodule "ros2Workspace/src/ros2_examples"]
	path = ros2Workspace/src/ros2_examples
	url = git@github.com:LM-Prototyping/ros2_examples.git
[submodule "LeoCAD/models"]
	path = LeoCAD/models
	url = git@github.com:LM-Prototyping/leocad-examples.git
[submodule "ros2Workspace/src/evaluation_ros2_utils"]
	path = ros2Workspace/src/evaluation_ros2_utils
	url = git@github.com:LM-Prototyping/evaluation_ros2_utils.git
[submodule "ros2Workspace/src/lm_ros2_utils"]
	path = ros2Workspace/src/lm_ros2_utils
	url = git@github.com:LM-Prototyping/lm_ros2_utils.git
